.discover-container-wrapper {
  margin-top: 137px;
}

.discover-container {
  margin: auto;
  max-width: 1020px;
}

.discover-titles {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 18px;
}

.explore-container {
  width: 100%;
}

.discover-grid, .explore-grid {
  display: flex;
  width: 1020px;
  column-count: 3;
  flex-flow: row wrap;
  padding: 0;
}

.explore-index-item {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 28px 28px 0;
}

.explore-img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
}

.discover-index-item {
  width: 298px;
  height: 218px;
  margin: 0 28px 28px 0;
  list-style: none;
  border: 1px solid #efefef;
}

.discover-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}


.discover-img {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.discover-username {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 2px;
}

.discover-follow-button {
  font-weight: 600;
  padding: 5px 24px;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}
