.discover-container-wrapper {
  margin-top: 137px;
}

.discover-container {
  margin: auto;
  max-width: 1020px;
  padding-left: 7px;
}

.discover-title, .explore-title {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 18px;
}

.explore-container {
  width: 100%;
}

.discover-grid, .explore-grid {
  display: flex;
  width: 1020px;
  column-count: 3;
  flex-flow: row wrap;
  padding: 0;
}

.explore-index-item {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 28px 28px 0;
}

.explore-index-hover {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  color: transparent;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.explore-index-hover:hover {
  background: black;
  opacity: 0.5;
  color: white;
}

.explore-img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
}

.discover-index-item {
  width: 298px;
  height: 218px;
  margin: 0 28px 28px 0;
  list-style: none;
  border: 1px solid #efefef;
}

.discover-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}


.discover-img {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.discover-username {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 12px;
  text-decoration: none;
  color: black;
}

.discover-follow-button {
  font-weight: 600;
  padding: 4px 8px;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

@media only screen and (min-width: 0px) {
  .discover-grid, .discover-title {
    display: none;
  }

  .explore-grid {
    width: 400px;
  }

  .explore-index-item {
    width: 130px;
    height: 130px;
    margin: 0 3px 3px 0;
  }

  .explore-index-hover {
    width: 130px;
    height: 130px;
  }

  .numlikes {
    font-size: 16px;
    margin-left: 10px;
  }

  .numlikes i {
    font-size: 16px;
  }

  .numcomments {
    font-size: 16px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 459px) {
  .discover-grid, .discover-title {
    display: none;
  }

  .explore-grid {
    width: 459px;
  }

  .explore-index-item {
    width: 150px;
    height: 150px;
    margin: 0 3px 3px 0;
  }

  .explore-index-hover {
    width: 150px;
    height: 150px;
  }

  .numlikes {
    margin-left: 20px;
    font-size: 18px;
  }

  .numlikes i{
    font-size: 18px;
  }

  .numcomments {
    margin-right: 20px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 609px) {
  .discover-grid, .discover-title {
    display: none;
  }

  .explore-grid {
    width: 609px;
  }

  .explore-index-item {
    width: 200px;
    height: 200px;
    margin: 0 3px 3px 0;
  }

  .explore-index-hover {
    width: 200px;
    height: 200px;
  }

  .numlikes {
    margin-left: 30px;
    font-size: 20px;
  }

  .numlikes i{
    font-size: 20px;
  }

  .numcomments {
    margin-right: 30px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 753px) {
  .discover-grid, .discover-title {
    display: flex;
    width: 800px;
  }

  .explore-grid {
    width: 800px;
  }

  .discover-index-item {
    width: 226px;
    height: 216px;
    margin: 0 28px 28px 0;
  }

  .explore-index-item {
    width: 228px;
    height: 228px;
    margin: 0 28px 28px 0;
  }

  .explore-index-hover {
    width: 228px;
    height: 228px;
  }

  .numlikes {
    margin-left: 50px;
    font-size: 22px;
  }

  .numlikes i{
    font-size: 22px;
  }

  .numcomments {
    margin-right: 50px;
    font-size: 22px;
  }
}

@media only screen and (min-width: 1020px) {
  .discover-grid, .discover-title {
    display: flex;
    width: 1020px;
  }

  .explore-grid {
    width: 1020px;
  }

  .discover-index-item {
    width: 298px;
    height: 218px;
    margin: 0 28px 28px 0;
  }

  .explore-index-item {
    width: 300px;
    height: 300px;
    margin: 0 28px 28px 0;
  }

  .explore-index-hover {
    width: 300px;
    height: 300px;
  }

  .numlikes {
    margin-left: 50px;
    font-size: 22px;
  }

  .numlikes i{
    font-size: 22px;
  }

  .numcomments {
    margin-right: 50px;
    font-size: 22px;
  }
}
