.greeting-container-wrapper {
  display: flex;
  position: fixed;
  border-bottom: 1px solid #ccc;
  background-color: white;
  height: 77px;
  width: 100%;
  top: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  width: 1020px;
  min-width: 600px;
  margin: auto;
}

.fa-camera-retro {
  font-size: 40px;
  color: black;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.header-home-link {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.header-home-link a {
  display: flex;
  text-decoration: none;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: 'Satisfy';
  color: black;
  padding-left: 20px;
}

.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 5px 7px 5px 7px;
  color: #999;
  font-weight: 300;
  font-size: 12px;
}

.upload-button:hover {
  cursor: pointer;
}

.fa-upload {
  padding-right: 5px;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.fa-compass, .fa-user, .fa-sign-out-alt {
  font-size: 30px;
  padding-right: 30px;
}

.fa-sign-out-alt:hover {
  cursor: pointer;
}

.modal-close {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}

.modal-close:hover {
  cursor: pointer;
}

.nav-profile-link {
  color: black;
}
