.post-form-wrapper {
  display: flex;
}

.post-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.caption {
  margin: 10px 0 10px 0;
}

.file-button {
  width: 100px;
  cursor: pointer;
}

.share-button {
  background: #3897f0;
  color: #fff;
  border-radius: 3px;
}

.img-preview {
  margin: 10px 0 10px 0;
  width: 300px;
}

.post-form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  overflow: auto;
}

.post-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
}
