// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-index-item {
  max-width: 600px;
  border: 1px solid #eee;
  list-style: none;
  margin: auto;
  margin-bottom: 80px;
}

.post-index-item:first-child {
  margin-top: 100px;
}

.post-user {
  display: flex;
  margin: 15px;
  align-items: center;
}

.post-user-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.post-img {
  max-width: 600px;
}

.likes-comments-container {
  margin: 15px;
}

.likes-counter {
  margin: 5px 0 5px 0;
}
