// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-index-item {
  max-width: 600px;
  border: 1px solid #eee;
  list-style: none;
  margin: 80px;
}

.post-user {
  display: flex;
}

.post-img {
  max-width: 600px;
}
