.profile-post-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 28px 28px 0;
}

.profile-post-index-image {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-post-hover {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  color: transparent;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.profile-post-hover:hover {
  background: black;
  opacity: 0.5;
  color: white;
}

.numlikes {
  margin-left: 50px;
}

.numlikes i{
  font-size: 22px;
}

.numcomments {
  margin-right: 50px;
}

.numlikes:hover {
  color: white;
}

.profile-posts-grid {
  display: flex;
  width: 1020px;
  column-count: 3;
  flex-flow: row wrap;
}

.post-modal-close {
  float: right;
  padding: 10px 10px 0 0;
}
