.profile-post-show-container {
  display: flex;
  max-height: 500px;
}

.profile-post-show {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 287px;
  justify-content: space-between;
}

.post-show-image img {
  width: auto;
  max-height: 500px;
  max-width: 600px;
  height: 100%;
}

.post-show-user {
  display: flex;
  align-items: center;
}

.post-show-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-show-user {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.post-likes-comments {
  display: flex;
  border-top: 1px solid #eee;
  flex-direction: column;
}

.post-like-wrapper {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}

.post-age-wrapper {
  border-bottom: 1px solid #eee;
}

.post-comment-form {
  padding: 10px 0 17px 0;
}

.post-comment-input {
  border: none;
  font-size: 14px;
  width: 83%;
}

.post-caption-comments {
  padding: 12px 0;
  height: 260px;
  overflow: scroll;
}

.profile-comment-list {
  margin: 0;
  margin-top: 5px;
}

.post-show-caption {
  margin-top: 5px;
}

.fa-trash-alt {
  font-size: 20px;
  cursor: pointer;
}
