.profile-post-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 28px 28px 0;
}

.profile-post-index-image {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-post-hover, .explore-index-hover {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  color: transparent;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.profile-post-hover:hover, .explore-index-hover:hover {
  background: black;
  opacity: 0.5;
  color: white;
}

.numlikes {
  margin-left: 50px;
}

.numlikes i{
  font-size: 22px;
}

.numcomments {
  margin-right: 50px;
}

.numlikes:hover {
  color: white;
}

.profile-posts-grid {
  display: flex;
  width: 1020px;
  column-count: 3;
  flex-flow: row wrap;
  padding: 0;
}

.profile-post-modal, .explore-index-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  padding: 0;
  border: none;
  background-color: white;
  display: inline;
  max-height: 100%;
}

.profile-post-overlay, .explore-index-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0.7, 0.7, 0.7, 0.7);
  z-index: 2;
}

.post-modal-close, .explore-modal-close {
  float: right;
  padding: 10px 10px 0 0;
  color: #eee;
}

@media only screen and (min-width: 0px) {
  .profile-posts-grid {
    width: 400px;
  }

  .profile-post-wrapper {
    width: 130px;
    height: 130px;
    margin: 0 3px 3px 0;
  }

  .profile-post-hover {
    width: 130px;
    height: 130px;
  }

  .numlikes {
    font-size: 16px;
    margin-left: 10px;
  }

  .numlikes i {
    font-size: 16px;
  }

  .numcomments {
    font-size: 16px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 459px) {
  .profile-posts-grid {
    width: 459px;
  }

  .profile-post-wrapper {
    width: 150px;
    height: 150px;
    margin: 0 3px 3px 0;
  }

  .profile-post-hover {
    width: 150px;
    height: 150px;
  }

  .numlikes {
    margin-left: 20px;
    font-size: 18px;
  }

  .numlikes i{
    font-size: 18px;
  }

  .numcomments {
    margin-right: 20px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 609px) {
  .profile-posts-grid {
    width: 609px;
  }

  .profile-post-wrapper {
    width: 200px;
    height: 200px;
    margin: 0 3px 3px 0;
  }

  .profile-post-hover {
    width: 200px;
    height: 200px;
  }

  .numlikes {
    margin-left: 30px;
    font-size: 20px;
  }

  .numlikes i{
    font-size: 20px;
  }

  .numcomments {
    margin-right: 30px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 753px) {
  .profile-posts-grid {
    width: 800px;
  }

  .profile-post-wrapper {
    width: 250px;
    height: 250px;
    margin: 0 3px 3px 0;
  }

  .profile-post-hover {
    width: 250px;
    height: 250px;
  }

  .numlikes {
    margin-left: 50px;
    font-size: 22px;
  }

  .numlikes i{
    font-size: 22px;
  }

  .numcomments {
    margin-right: 50px;
    font-size: 22px;
  }
}

@media only screen and (min-width: 1020px) {
  .profile-posts-grid {
    width: 1020px;
  }

  .profile-post-wrapper {
    width: 300px;
    height: 300px;
    margin: 0 28px 28px 0;
  }

  .profile-post-hover {
    width: 300px;
    height: 300px;
  }

  .numlikes {
    margin-left: 50px;
    font-size: 22px;
  }

  .numlikes i{
    font-size: 22px;
  }

  .numcomments {
    margin-right: 50px;
    font-size: 22px;
  }
}
