// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
}

.home-header {
  font-family: 'Satisfy';
}

.session-form {
  display: flex;
  border: 1px solid #eee;
  max-width: 350px;
  flex-direction: column;
  text-align: center;
  padding: 10px 40px 40px 40px;
  margin-top: 50px;
  margin-bottom: 25px;
}


.session-form input {
  border: 1px solid #efefef;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 7px;
  padding: 9px 0 7px 8px;
}

.submit-button {
  background: #3897f0;
  color: #fff;
}

.nav-login, .nav-signup {
  border: 1px solid #eee;
  max-width: 350px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
}

.nav-login-link, .nav-signup-link {
  color: #3897f0;
  text-decoration: none;
}

.nav-login {
  border-bottom: none;
  padding-bottom: 0px;
}

.nav-signup {
  border-top: none;
  padding-top: 0px;
}

.message {
  margin-top: 0;
  color: #999;
  font-weight: bold;
}
