// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
  height: 100%;
}

.session-form-container::after {
  content: "";
  background-image: url("https://res.cloudinary.com/dih798zsl/image/upload/v1532391749/mtqbjaltxkbaotiu03wj.jpg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.session-form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
}

.home-header {
  font-family: 'Satisfy';
}

.session-form {
  display: flex;
  border: 1px solid #e6e6e6;
  max-width: 350px;
  flex-direction: column;
  text-align: center;
  padding: 10px 40px 40px 40px;
  margin-top: 50px;
  margin-bottom: 25px;
  background: white;
}


.session-form input {
  border: 1px solid #efefef;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 7px;
  padding: 9px 0 7px 8px;
}

.submit-button {
  background: #3897f0;
  color: #fff;
  cursor: pointer;
  border-color: #3897f0 !important;
  padding: 0 12px !important;
  line-height: 26px;
}

.nav-login, .nav-signup {
  border: 1px solid #e6e6e6;
  max-width: 350px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
  background: white;
}

.nav-login-link, .nav-signup-link {
  color: #3897f0;
  text-decoration: none;
}

.nav-login {
  border-bottom: none;
  padding-bottom: 0px;
}

.nav-signup {
  border-top: none;
  padding-top: 0px;
}

.message {
  margin-top: 0;
  color: #999;
  font-weight: bold;
}

.session-errors {
  margin: 0;
}

.errors-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  color: #ed4956;
  margin-left: -40px;
}

.errors-list li {
  margin-top: 5px;
}

.session-or {
  border-bottom: 1px solid #efefef;
  margin: 20px 0 10px 0;
  line-height: 0.1em;
}

.or {
  color: #999;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  padding: 0 18px;
  text-transform: uppercase;
}

.demo-login {
  margin-top: 10px;
  color: #385185;
  width: 100%;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.demo-login:hover {
  opacity: 0.7;
}

.demo-signup {
  margin: 10px 0 20px 0;
  padding: 0 12px;
  line-height: 26px;
  color: #fff;
  background: #3897f0;
  width: 100%;
  border-color: #3897f0;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.about-me {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}

.about-me p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 10px 20px;
}

.social-media {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.social-media a {
  margin-right: 8px;
}

.linkedin {
  width: 40px;
  height: 40px;
  background: url("https://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_40/v1512115468/linkedin-logo-copy_pdq4jt_vximdh.png");
}

.github {
  width: 40px;
  height: 40px;
  background: url("https://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_40/v1512116165/github-512_fy2div.png");
}

.website {
  width: 40px;
  height: 40px;
  background: url("https://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_40/v1515112803/website_phi1ht.png");
}

.linkedin:hover {
  opacity: 0.7;
}

.website:hover {
  opacity: 0.7;
}

.github:hover {
  opacity: 0.7;
}
